@import url("https://fonts.googleapis.com/css?family=Noto+Sans:400,700");
* {
  font-family: "Noto Sans", sans-serif;
}
#slidescontainer {
  margin: auto;
  max-width: 50em;
  max-height: 30em;
  overflow-x: scroll;
  overflow-y: scroll;
  white-space: nowrap;
}

#slidescontainer * {
  display: inline-block;
  color: white;
}

#slidescontainer div {
  height: 50.1em;
  width: 50em;
  text-align: center;
}

#slidescontainer h1 {
  margin-top: 2em;
}

::-webkit-scrollbar {
  display: none;
}

#slidescontainer p {
  width: calc(100% - 120px);
  margin: 20px auto auto 50px;
  vertical-align: top;
  white-space: initial;
  font-size: 0.9em;
}

#goldenage {
  background-color: #f9e959;
}

#silverage {
  background-color: #a8e0fc;
}

#bronzeage {
  background-color: #c9882f;
}
#darkage {
  background-color: black;
}
#agelessage {
  background-color: #c1c1c1;
}

#img1 {
  float: left;
  width: 55%;
  margin-top: 1.5em;
}

#img2 {
  float: left;
  width: 32%;
  margin-top: -1em;
  margin-left: 4em;
}

#img3 {
  float: left;
  width: 35%;
  margin-top: -5em;
}

#img4 {
  float: left;
  width: 24%;
  margin-top: -18.5em;
  margin-left: 35em;
}

#img5 {
  float: left;
  width: 30%;
  margin-top: -3em;
  margin-left: -0.8em;
  transform: rotate(1.7deg);
}

#img6 {
  float: left;
  width: 30%;
  margin-top: -1em;
  margin-left: 20.5em;
}

#img7 {
  float: left;
  width: 28%;
  margin-top: -1em;
  margin-left: -0.8em;
}

#img8 {
  float: left;
  width: 28%;
  margin-top: 1em;
  margin-left: 20em;
}

#img9 {
  float: left;
  width: 38%;
  margin-top: 0.5em;
  margin-left: -0.8em;
}

#img10 {
  float: left;
  width: 28%;
  margin-top: 4em;
  margin-left: 14em;
}

#timelinecontainer {
  margin: auto;
  max-width: 50em;
  max-height: 4.5em;
  overflow-x: scroll;
  white-space: nowrap;
  text-align: center;
}

#timelinecontainer * {
  display: inline-block;
  color: white;
}

#timelinecontainer div {
  height: 5em;
  width: 29em;
}

#goldenage-tml {
  background-color: #f9e959;
}

#silverage-tml {
  background-color: #a8e0fc;
}

#bronzeage-tml {
  background-color: #c9882f;
}
#darkage-tml {
  background-color: black;
}
#agelessage-tml {
  background-color: #c1c1c1;
}

/*///// SVG /////*/

svg {
  width: 25%;
}

#svg1 {
  margin-top: 20em;
  margin-left: -20em;
}

#svg1 .cls-1,
#svg2 .cls-1 {
  fill: #f9e959;
}
#svg1 .cls-2,
#svg2 .cls-2 {
  fill: #f9c700;
  opacity: 0.5;
}
#svg1 .cls-3,
#svg2 .cls-3 {
  fill: #43b2e6;
}
#svg1 .cls-4,
#svg2 .cls-4 {
  fill: #1b1c2b;
}

#svg1 {
  float: left;
  margin-top: 5em;
  margin-left: 2em;
}

#svg2 {
  float: left;
  margin-top: 10em;
}

#svg1 #Pattern,
#svg2 #Pattern {
  animation: move 8s linear infinite;
}

@keyframes move {
  from {
    transform: translateX(15em);
  }
  to {
    transform: translateX(-25em);
  }
}

.popup {
  visibility: hidden;
  width: 120px;
  background-color: white;
  color: black;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  bottom: 100%;
  left: 50%;
}

#miniplanet1 .cls-1,
#miniplanet2 .cls-1,
#miniplanet3 .cls-1 {
  fill: #bfbfbf;
}
#miniplanet1 .cls-2,
#miniplanet2 .cls-2,
#miniplanet3 .cls-2 {
  fill: #919191;
  opacity: 0.5;
}
#miniplanet1 .cls-3,
#miniplanet2 .cls-3,
#miniplanet3 .cls-3 {
  fill: #8f8f8f;
}
#miniplanet1 .cls-4,
#miniplanet2 .cls-4,
#miniplanet3 .cls-4 {
  fill: #1b1c2b;
}

#miniplanet1 {
  float: left;
  margin-left: -10em;
}

#miniplanet2 {
  float: left;
}

#miniplanet3 {
  float: left;
}

#miniplanet1 #Pattern,
#miniplanet2 #Pattern,
#miniplanet3 #Pattern {
  animation: moveMini 8s linear infinite;
}

@keyframes moveMini {
  from {
    transform: translateX(1em);
  }
  to {
    transform: translateX(-8em);
  }
}

#dust {
  background-color: orange;
  width: 1em;
  height: 5em;
  float: left;
  margin-left: -19em;
  margin-top: 9em;
  display: none;
  /*Insert aniamtion stays at last value*/
}

.blendin {
  animation: fadein 2s linear;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  100% {
    transform: translateY(5em);
  }
}

#infobox {
  visibility: hidden;
  width: 5em;
  height: 5em;
  background-color: red;
  margin-left: -50em;
  margin-top: 25em;
  opacity: 0;
  /*animation: showInfo 2s linear;*/
}
.show {
  animation: showInfo 2s linear;
  animation-delay: 2s;
}

@keyframes showInfo {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
