@import url("https://fonts.googleapis.com/css?family=Noto+Sans:400,700");

* {
  font-family: "Noto Sans", sans-serif;
}

#slidescontainer {
  margin: auto;
  max-width: 50em;
  max-height: 30em;
  overflow-x: scroll;
  overflow-y: scroll;
  white-space: nowrap;
}

#slidescontainer * {
  display: inline-block;
  color: white;
}

#slidescontainer div {
  height: 50.1em;
  width: 50em;
  text-align: center;
}

#slidescontainer h1 {
  margin-top: 2em;
}

::-webkit-scrollbar {
  display: none;
}

#slidescontainer p {
  width: calc(100% - 120px);
  margin: 20px auto auto 50px;
  vertical-align: top;
  white-space: initial;
  font-size: 0.9em;
}

#goldenage {
  background-color: #f9e959;
}

#silverage {
  background-color: #a8e0fc;
}

#bronzeage {
  background-color: #c9882f;
}
#darkage {
  background-color: black;
}
#agelessage {
  background-color: #c1c1c1;
}

#img1 {
  float: left;
  width: 55%;
  margin-top: 0.5em;
}

#img2 {
  float: left;
  width: 32%;
  margin-top: -1em;
  margin-left: 4em;
}

#img3 {
  float: left;
  width: 35%;
  margin-top: -5em;
}

#img4 {
  float: left;
  width: 24%;
  margin-top: -18.5em;
  margin-left: 35em;
}

#img5 {
  float: left;
  width: 30%;
  margin-top: -3em;
  margin-left: -0.8em;
  transform: rotate(1.7deg);
}

#img6 {
  float: left;
  width: 30%;
  margin-top: -1em;
  margin-left: 20.5em;
}

#img7 {
  float: left;
  width: 28%;
  margin-top: -1em;
  margin-left: -0.8em;
}

#img8 {
  float: left;
  width: 28%;
  margin-top: 1em;
  margin-left: 20em;
}

#img9 {
  float: left;
  width: 38%;
  margin-top: 0.5em;
  margin-left: -0.8em;
}

#img10 {
  float: left;
  width: 28%;
  margin-top: 4em;
  margin-left: 14em;
}

#timelinecontainer {
  margin: auto;
  max-width: 50em;
  max-height: 4.5em;
  overflow-x: scroll;
  white-space: nowrap;
  text-align: center;
}

#timelinecontainer * {
  display: inline-block;
  color: white;
}

#timelinecontainer div {
  height: 5em;
  width: 29em;
}

#goldenage-tml {
  background-color: #f9e959;
}

#silverage-tml {
  background-color: #a8e0fc;
}

#bronzeage-tml {
  background-color: #c9882f;
}
#darkage-tml {
  background-color: black;
}
#agelessage-tml {
  background-color: #c1c1c1;
}

/*///// SVG /////*/

svg {
  width: 25%;
}

#planet1-1 .cls-1,
#planet1-2 .cls-1,
#planet1-3 .cls-1 {
  fill: #f9e959;
}
#planet1-1 .cls-2,
#planet1-2 .cls-2,
#planet1-3 .cls-2 {
  fill: #f9c700;
  opacity: 0.5;
}
#planet1-1 .cls-3,
#planet1-2 .cls-3,
#planet1-3 .cls-3 {
  fill: #43b2e6;
}
#planet1-1 .cls-4,
#planet1-2 .cls-4,
#planet1-3 .cls-4 {
  fill: #1b1c2b;
}

#planet1-1 {
  float: left;
  margin-top: 5em;
  margin-left: 2em;
  display: none;
  opacity: 0;
}

#planet1-2 {
  float: left;
  margin-top: 10em;
  display: none;
  opacity: 0;
}

#planet1-3 {
  float: left;
  margin-top: 5em;
  margin-left: 2em;
  display: none;
  opacity: 0;
}

.popup {
  visibility: hidden;
  width: 120px;
  background-color: white;
  color: black;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  bottom: 100%;
  left: 50%;
}

#miniplanet1-1 .cls-1,
#miniplanet1-2 .cls-1,
#miniplanet1-3 .cls-1,
#miniplanet2-1 .cls-1,
#miniplanet2-2 .cls-1,
#miniplanet2-3 .cls-1,
#miniplanet3-1 .cls-1,
#miniplanet4-1 .cls-1,
#miniplanet4-2 .cls-1,
#miniplanet5-1 .cls-1,
#miniplanet5-2 .cls-1 {
  fill: #bfbfbf;
}
#miniplanet1-1 .cls-2,
#miniplanet1-2 .cls-2,
#miniplanet1-3 .cls-2,
#miniplanet2-1 .cls-2,
#miniplanet2-2 .cls-2,
#miniplanet2-3 .cls-2,
#miniplanet3-1 .cls-2,
#miniplanet4-1 .cls-2,
#miniplanet4-2 .cls-2,
#miniplanet5-1 .cls-2,
#miniplanet5-2 .cls-2 {
  fill: #919191;
  opacity: 0.5;
}
#miniplanet1-1 .cls-3,
#miniplanet1-2 .cls-3,
#miniplanet1-3 .cls-3,
#miniplanet2-1 .cls-3,
#miniplanet2-2 .cls-3,
#miniplanet2-3 .cls-3,
#miniplanet3-1 .cls-3,
#miniplanet4-1 .cls-3,
#miniplanet4-2 .cls-3,
#miniplanet5-1 .cls-3,
#miniplanet5-2 .cls-3 {
  fill: #8f8f8f;
}
#miniplanet1-1 .cls-4,
#miniplanet1-2 .cls-4,
#miniplanet1-3 .cls-4,
#miniplanet2-1 .cls-4,
#miniplanet2-2 .cls-4,
#miniplanet2-3 .cls-4,
#miniplanet3-1 .cls-4,
#miniplanet4-1 .cls-4,
#miniplanet4-2 .cls-4,
#miniplanet5-1 .cls-4,
#miniplanet5-2 .cls-4 {
  fill: #1b1c2b;
}

#miniplanet1-1 {
  float: left;
  margin-left: -8em;
  display: none;
}

#miniplanet1-2 {
  float: left;
  display: none;
  margin-top: -30em;
}

#miniplanet1-3 {
  float: left;
  margin-left: -11em;
  display: none;
  margin-top: -27em;
}

#planet2-1 .cls-1,
#planet2-2 .cls-1,
#planet2-3 .cls-1 {
  fill: #a8e0fc;
}
#planet2-1 .cls-2,
#planet2-2 .cls-2,
#planet2-3 .cls-2 {
  fill: #93cefc;
  opacity: 0.5;
}
#planet2-1 .cls-3,
#planet2-2 .cls-3,
#planet2-3 .cls-3 {
  fill: #ffeb34;
}
#planet2-1 .cls-4,
#planet2-2 .cls-4,
#planet2-3 .cls-4 {
  fill: #1b1c2b;
}

#planet2-1 {
  float: left;
  margin-top: 5em;
  margin-left: 2em;
}

#planet2-3 {
  float: left;
  margin-left: 12em;
}

#miniplanet2-1 {
  float: left;
  margin-left: 24em;
  margin-top: -29em;
}

#miniplanet2-3 {
  float: left;
  margin-top: -43em;
  margin-left: -1em;
}

#planet3-1 .cls-1,
#planet3-2 .cls-1,
#planet3-3 .cls-1,
#planet3-4 .cls-1,
#planet3-5 .cls-1 {
  fill: #c9882f;
}
#planet3-1 .cls-2,
#planet3-2 .cls-2,
#planet3-3 .cls-2,
#planet3-4 .cls-2,
#planet3-5 .cls-2 {
  fill: #c9752f;
  opacity: 0.5;
}
#planet3-1 .cls-3,
#planet3-2 .cls-3,
#planet3-3 .cls-3,
#planet3-4 .cls-3,
#planet3-5 .cls-3 {
  fill: #c6332a;
}
#planet3-1 .cls-4,
#planet3-2 .cls-4,
#planet3-3 .cls-4,
#planet3-4 .cls-4,
#planet3-5 .cls-4 {
  fill: #1b1c2b;
}

#planet3-1 {
  float: left;
  margin-top: 5em;
  margin-left: 2em;
}

#planet3-2 {
  float: left;
  margin-left: -5em;
}

#planet3-4 {
  float: left;
  margin-top: 1em;
  margin-left: -5em;
}

#planet3-5 {
  float: left;
  margin-top: -2em;
  margin-left: 5em;
}

#miniplanet3-1 {
  float: left;
  margin-top: -12em;
  margin-left: -5em;
}

#planet4-1 .cls-1,
#planet4-2 .cls-1,
#planet4-3 .cls-1,
#planet4-4 .cls-1 {
  fill: #c1c1c1;
}
#planet4-1 .cls-2,
#planet4-2 .cls-2,
#planet4-3 .cls-2,
#planet4-4 .cls-2 {
  fill: #919191;
  opacity: 0.5;
}
#planet4-1 .cls-3,
#planet4-2 .cls-3,
#planet4-3 .cls-3,
#planet4-4 .cls-3 {
  fill: #80aca9;
}
#planet4-1 .cls-4,
#planet4-2 .cls-4,
#planet4-3 .cls-4,
#planet4-4 .cls-4 {
  fill: #1b1c2b;
}

#planet4-2 {
  float: left;
  margin-top: 8em;
  margin-left: 3em;
}

#planet4-4 {
  float: left;
  margin-top: 1em;
  margin-left: 9em;
}

#miniplanet4-1 {
  float: left;
  margin-top: -10em;
  margin-left: -30em;
}

#miniplanet4-2 {
  float: left;
  margin-top: -2em;
}

#planet5-1 .cls-2,
#planet5-2 .cls-2,
#planet5-3 .cls-2,
#planet5-4 .cls-2 {
  fill: #fff;
}
#planet5-1 .cls-1,
#planet5-2 .cls-1,
#planet5-3 .cls-1,
#planet5-4 .cls-1 {
  opacity: 0.15;
}
#planet5-1 .cls-3,
#planet5-2 .cls-3,
#planet5-3 .cls-3,
#planet5-4 .cls-3 {
  fill: #1b1c2b;
}

#planet5-1 {
  float: left;
  margin-top: 2em;
}

#planet5-2 {
  float: left;
  margin-top: 8em;
}

#planet5-4 {
  float: left;
  margin-top: 5em;
}

#miniplanet5-1 {
  float: left;
  margin-top: 9em;
  margin-left: -36.4em;
}

#miniplanet5-2 {
  float: left;
  margin-top: 1em;
  margin-left: -19.4em;
}

.fadeinPlanet {
  animation: fadein 1s linear;
  animation-fill-mode: forwards;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.moveMiniplanet {
  animation: moveMini 8s linear infinite;
}

@keyframes moveMini {
  from {
    transform: translateX(1em);
  }
  to {
    transform: translateX(-8em);
  }
}

.movePlanet {
  animation: move 10s linear infinite;
}

@keyframes move {
  from {
    transform: translateX(12em);
  }
  to {
    transform: translateX(-12em);
  }
}

.blendin {
  animation: blendin 2s linear;
  animation-fill-mode: forwards;
}

.showdust {
  animation: showdust 1.2s linear;
  animation-delay: 2s;
}

.show {
  animation: showInfo 4s linear;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}

@keyframes showdust {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes blendin {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  99% {
    opacity: 1;
  }
  100% {
    transform: translateY(10em);
    opacity: 0;
  }
}
@keyframes showInfo {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

#dust1 {
  float: left;
  width: 10%;
  margin-left: -8.5em;
  margin-top: 12em;
  opacity: 0;
}

#dust2 {
  float: left;
  width: 10%;
  margin-left: -8.5em;
  margin-top: 18em;
  opacity: 0;
}

#dust3 {
  float: left;
  width: 10%;
  margin-left: -8.5em;
  margin-top: 12.5em;
  opacity: 0;
}

#infobox1 {
  float: left;
  width: 8em;
  height: 3em;
  margin-left: -10em;
  margin-top: 22em;
  background-color: white;
  color: black;
  opacity: 0;
}

#grounddust1 {
  width: 10%;
  float: left;
  width: 8em;
  height: 4em;
  margin-left: -10em;
  margin-top: 23em;
  opacity: 0;
}

#infobox2 {
  float: left;
  width: 8em;
  height: 3em;
  margin-left: -10em;
  margin-top: 28em;
  background-color: white;
  color: black;
  opacity: 0;
}

#grounddust2 {
  width: 10%;
  float: left;
  width: 8em;
  height: 4em;
  margin-left: -10em;
  margin-top: 29em;
  opacity: 0;
}

#infobox3 {
  float: left;
  width: 8em;
  height: 3em;
  margin-left: -10em;
  margin-top: 25em;
  background-color: white;
  color: black;
  opacity: 0;
}

#grounddust3 {
  width: 10%;
  float: left;
  width: 8em;
  height: 4em;
  margin-left: -10em;
  margin-top: 26em;
  opacity: 0;
}

#dust4 {
  float: left;
  width: 10%;
  margin-left: -8.5em;
  margin-top: 12.5em;
  opacity: 0;
}

#infobox4 {
  float: left;
  width: 8em;
  height: 3em;
  margin-left: -10em;
  margin-top: 25em;
  background-color: white;
  color: black;
  opacity: 0;
}

#grounddust4 {
  width: 10%;
  float: left;
  width: 8em;
  height: 4em;
  margin-left: -10em;
  margin-top: 26em;
  opacity: 0;
}

#dust5 {
  float: left;
  width: 10%;
  margin-left: 4em;
  margin-top: -2.5em;
  opacity: 0;
}

#infobox5 {
  float: left;
  width: 8em;
  height: 3em;
  margin-left: -7em;
  margin-top: 12em;
  background-color: white;
  color: black;
  opacity: 0;
}

#grounddust5 {
  width: 10%;
  float: left;
  width: 8em;
  height: 4em;
  margin-left: -8em;
  margin-top: 13em;
  opacity: 0;
}

#dust6 {
  float: left;
  width: 10%;
  margin-left: 16em;
  margin-top: -3.5em;
  opacity: 0;
}

#infobox6 {
  float: left;
  width: 8em;
  height: 3em;
  margin-left: -7em;
  margin-top: 6em;
  background-color: white;
  color: black;
  opacity: 0;
}

#grounddust6 {
  width: 10%;
  float: left;
  width: 8em;
  height: 4em;
  margin-left: -8em;
  margin-top: 7em;
  opacity: 0;
}
